@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap");
body {
    background-image: linear-gradient(rgb(226, 192, 141), rgb(223, 168, 120), rgb(160, 93, 65));
    background-attachment: fixed;
    font-family: 'Poppins';
}

.container {
    background-color: #fbf6f7;
    background-image: linear-gradient(to bottom, #fbf6f7, #fff);
    border-radius: 15px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    height: auto;
    justify-content: center;
}
header {
    text-align: center;
}

h1 {
    margin: auto;
    font-weight: bold;
}

h2 {
    font-size: 22px;
}

hr.solid {
    border-top: 3.5px solid #bbb;
}
hr.dashed,
hr.dashed2 {
    border-top: 2.5px dashed #737373;
}

.fa-map-marker-alt {
    color: red;
}
#checkproducts{
    margin-bottom: 1rem;
}
#prod-img {
    border-radius: 10px;
    width: 200px;
    height: 200px;
}

.delivery-details {
    font-size: 18px;
    background-color: #73737324;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 25px;
    margin-right: 25px;
}
.delivery-header {
    margin-left: 20px;
}
.product-details {
    font-size: 15px;
    background-color: rgba(213, 208, 201, 0.332);
}
.input-group {
    margin-bottom: 15px;
    width: 100px;
    
}
#quantity {
    margin: 0;
    text-align: center;
}



.custom-row {
    margin-top: 20px;
}

.shipping-change {
    text-decoration: none;
    text-align: center;
}

.payment-header {
    margin-top: 30px;
    margin-bottom: 3rem;
}

.payment-change {
    text-align: center;
}

.payment-details {
    margin-top: 120px;
    text-align: end;
}

.card-button {
    text-align: end;
    border-radius: 10px;
}

.card-button .btn {
    font-size: 20px;
    padding: 15px 25px;
}
#placedorder{
    margin-bottom: 1rem;
}

.quantity-container {
    display: flex;
    align-items: center;
}

.quantity-text {
    margin: 0 20px; 
    font-size: 20px; 
}

.quantity-container button {
    flex: 0 0 auto;
    font-size: 14px; 
    padding: 5px 10px; 
    margin: 0 10px; 
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-success {
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
}

.btn-primary:hover, .btn-success:hover {
    opacity: 0.85; 
}

