*{
    margin: 0;
    padding: 0;
}
body {
    background-image: linear-gradient(rgb(226, 192, 141), rgb(223, 168, 120), rgb(160, 93, 65));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: "Poppins", "sans-serif";
    overflow-x: hidden;
}
.container-fluid {
    width: 100%;
    max-width: 80vw;
    position: relative;
    margin-top: 2rem;
}

#header-image {
    width: 100%;
    height: 30vh;
    object-fit: cover;
    opacity: 60%;
}

.merchant-info {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: 10px; 
    left: 20px; 
}

#merchant-image {
    width: 100px; 
    border-radius: 50%; 
}

.merchant-name {
    font-size: 24px; 
    font-weight: bold;
    margin-left: 20px; 
    color: white;
}

@media (min-width: 768px) {
    
    #header-image {
        height: 30vh; 
    }

    #merchant-image {
        width: 150px;
    }
    .merchant-name {
        font-size: 32px;
    } 
}

@media (max-width: 767px) {
    .container-fluid{
        max-width: 95vw;
    }
    #header-image {
        height: 30vh;
    }
    #merchant-image {
        width: 100px;
    }
    .merchant-name {
        font-size: 18px;
    }
}
#form-contain{
    background-color: rgb(241, 240, 240);
    padding: 50px;
    border-radius: 10px;
    margin-top: 20px;
    width: 60vw;
    margin-left: 300px ;
    
 }
 #form-contain h1{
     text-align: center;
  }
 #btn-update{
     margin-top: 20px;
     width: 120px;
 }
 